<div class="about">
    <h1
        class="intro-h mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-black">
        What do <mark class="px-2 text-white bg-blue-600 rounded dark:bg-blue-500">I have to offer?</mark></h1>
        <hr>
    <h2
        class="mb-3 text-4xl font-extrabold leading-none tracking-tight text-gray-100 md:text-5xl lg:text-6xl dark:text-black mx-12">
        A little about me:</h2>
    <p class="mb-3 text-lg text-gray-500 md:text-xl dark:text-gray-400 intro-p">
        My name is Danny Beaudoin. I am an aspiring Full Stack Developer with 1 year of experience building Full Stack
        Web Applications. Most of my experience as a professional Developer
        has been spent developing API's using Java Spring Boot. With an additional focus on Front-end technologies such
        as TypeScript and Angular.
    </p>
    <h2
        class="mb-3 text-4xl font-extrabold leading-none tracking-tight text-gray-100 md:text-5xl lg:text-6xl dark:text-black mx-12">
        Education</h2>
    <p class="mb-3 text-lg text-gray-500 md:text-xl dark:text-gray-400 intro-p">
        Graduated St. Lawrence College - Computer Programming & Analysis with distinctions (3 Year Advanced Diploma)
    </p>
    <div class="flex flex-row">
        <ul class="list-disc list-inside mx-12">
            <li>3.63 GPA</li>
            <li>Dean's List (2020 - 2023)</li>
            <li>Awarded the ATEC Technology Scholarship</li>
            <li>Peer Tutor (2022 - 2023)</li>
        </ul>
        <img src="/assets/images/dip.png" alt="diploma" style="height: 10rem; margin-right: 0;">
    </div>
    <br>
    <h2
        class="mb-3 text-4xl font-extrabold leading-none tracking-tight text-gray-100 md:text-5xl lg:text-6xl dark:text-black mx-12">
        Professional Experience</h2>
    <ol class="list-decimal list-inside mx-12">
        <li>
            Ontario Ministry of Health | Long Term Care
            <ul class="list-disc list-inside mx-12">
                <li>Built UI Wireframes using FIGMA to allow for quick demo'ing Proof Of Concepts to stakeholders</li>
                <li>Ensured developed applications follow AODA Compliancy using tools such as lighthouse</li>
                <li>Effectively use project management tools such as Azure Dev ops in order to efficiently plan out our
                    work </li>
                <li>Experience managing the development of applications using Git</li>
                <li>Implement Single Sign On using Azure AD and Keycloak</li>
            </ul>
        </li>
        <li>
            Volunteer for the Canada Revenue Agency
            <ul class="list-disc list-inside mx-12">
                <li>•	Assist in leading the development of an escape room game using AGILE methodologies in a team setting using Phaser.io and Typescript to help raise awareness to charity events hosted by the Canada Revenue Agency</li>
            </ul>
        </li>
        <li>
            Peer Tutor for St. Lawrence College
            <ul class="list-disc list-inside mx-12">
                <li>Troubleshoot and debug syntax and logic errors in student's code to establish understanding in
                    educational material and applications</li>
                <li>Track and report all tutoring sessions with clear and concise documentation</li>
            </ul>
        </li>
    </ol>
</div>