<div class="grades">
    <h1
        class="intro-h mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-black">
        {{course.name}}
    </h1>
    <hr>
    <h2
        class="mb-3 text-4xl font-extrabold leading-none tracking-tight text-gray-100 md:text-5xl lg:text-6xl dark:text-black mx-12">
        About this course:</h2>
    <p class="mb-3 text-lg text-gray-500 md:text-xl dark:text-gray-400 intro-p">
        {{course.desc}} taken in {{course.year}} year.
    </p>
    <p class="mb-3 text-lg text-gray-500 md:text-xl dark:text-gray-400 intro-p">
        My Overall grade for the class was: {{course.grade}}%.
    </p>
</div>