<div class="grades">
    <h1 class="intro-h mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-black">
        My Courses & Grades at SLC
    </h1>
    <hr>
    <h2
        class="mb-3 text-4xl font-extrabold leading-none tracking-tight text-gray-100 md:text-5xl lg:text-6xl dark:text-black mx-12">
        About my studies:</h2>
    <p class="mb-3 text-lg text-gray-500 md:text-xl dark:text-gray-400 intro-p">
        During my three years at St. Lawrence College while taking the Computer Programming & Analysis
        program I learned and mastered a lot of skills. With a primary focus on web developement and 
        API construction, I feel I have a strong set of skills that can be used in this industry. 
    </p>
    <p class="mb-3 text-lg text-gray-500 md:text-xl dark:text-gray-400 intro-p">
        My Overall GPA is: {{gpa}} 
    </p>
    <table class="table-auto hover:table-fixed">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Grade</th>
                <th>Year of study</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>test</td>
                <td>t</td>
                <td>t</td>
                <td>t</td>
            </tr>
        </tbody>
    </table>
</div>