<div class="grades">
    <h1
        class="intro-h mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-black">
        My Courses & Grades at SLC
    </h1>
    <hr>
    <h2
        class="mb-3 text-4xl font-extrabold leading-none tracking-tight text-gray-100 md:text-5xl lg:text-6xl dark:text-black mx-12">
        About my studies:</h2>
    <p class="mb-3 text-lg text-gray-500 md:text-xl dark:text-gray-400 intro-p">
        During my three years at St. Lawrence College while taking the Computer Programming & Analysis
        program I learned and mastered a lot of skills. With a primary focus on web developement and
        API construction, I feel I have a strong set of skills that can be used in this industry.
    </p>
    <p class="mb-3 text-lg text-gray-500 md:text-xl dark:text-gray-400 intro-p">
        My Overall GPA is: {{gpa}}
    </p>
    <div class="flex flex-col table-container">
        <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
                <div class="overflow-hidden">
                    <table class="min-w-full text-center text-sm font-light">
                        <thead class="border-b bg-neutral-800 font-medium text-white dark:border-neutral-500 dark:bg-neutral-900">
                            <tr>
                                <th scope="col" class=" px-6 py-4"><button (click)="sortByName()">Name</button></th>
                                <th scope="col" class=" px-6 py-4"><button (click)="sortByDesc()">Description</button></th>
                                <th scope="col" class=" px-6 py-4"><button (click)="sortByGrade()">Grade</button></th>
                                <th scope="col" class=" px-6 py-4"><button (click)="sortByYear()">Year of study</button></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr  class="border-b dark:border-neutral-500" *ngFor="let course of courses">
                                <td>{{ course.name }}</td>
                                <td>{{ course.desc }}</td>
                                <td>{{ course.grade }}</td>
                                <td>{{ course.year }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>