.intro-h {
    margin-top: 3rem;
    text-align: center;
}

.intro-p {
    margin: 3rem;
    margin-left: 3rem;
    margin-right: rem;
    text-align: left;
}

.grades {
    margin-bottom: 10rem;
}

.table-container {
    margin-left: 3rem;
    margin-right: 3rem;
}