<div *ngIf="proj" class="project-view">
    <h1 class="mb-3 text-4xl font-extrabold leading-none tracking-tight text-gray-100 md:text-5xl lg:text-6xl dark:text-black mx-12">{{proj.name | uppercase}} DETAILS</h1>
    <div class="project-properties"><span>Description: </span>{{proj.description}}</div>
    <div *ngIf="hasImage" class="project-properties">
        <img class="project-img border-4 border-orange-500"  src="/assets/images/image_6483441.jpg" alt="project-img">
    </div>
    <div *ngIf="hasLink"  class="project-properties">
        <p class="mb-3 text-lg text-gray-500 md:text-xl dark:text-gray-400 intro-p"><a routerLink="{{proj.link}}">Link to App: {{proj.link}}</a></p>
    </div>
    <br>
  </div>