<div>
    <h1 class="intro-h mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-black">What do <mark class="px-2 text-white bg-blue-600 rounded dark:bg-blue-500">I have to offer?</mark></h1>
    <h2 class="mb-3 text-4xl font-extrabold leading-none tracking-tight text-gray-100 md:text-5xl lg:text-6xl dark:text-black mx-12">A little about me:</h2>
    <p class="mb-3 text-lg text-gray-500 md:text-xl dark:text-gray-400 intro-p">
        My name is Danny Beaudoin. I am an aspiring Full Stack Developer with 1 year of experience building Full Stack Web Applications. Most of my experience as a professional Developer
        has been spent developing API's using Java Spring Boot. With an additional focus on Front-end technologies such as TypeScript and Angular.
    </p>
    <h2 class="mb-3 text-4xl font-extrabold leading-none tracking-tight text-gray-100 md:text-5xl lg:text-6xl dark:text-black mx-12">Education</h2>
    <p class="mb-3 text-lg text-gray-500 md:text-xl dark:text-gray-400 intro-p">
        My name is Danny Beaudoin. I am an aspiring Full Stack Developer with 1 year of experience building Full Stack Web Applications. Most of my experience as a professional Developer
        has been spent developing API's using Java Spring Boot. With an additional focus on Front-end technologies such as TypeScript and Angular.
    </p>
    <h2 class="mb-3 text-4xl font-extrabold leading-none tracking-tight text-gray-100 md:text-5xl lg:text-6xl dark:text-black mx-12">Professional Experience</h2>
    <p class="mb-3 text-lg text-gray-500 md:text-xl dark:text-gray-400 intro-p">
        My name is Danny Beaudoin. I am an aspiring Full Stack Developer with 1 year of experience building Full Stack Web Applications. Most of my experience as a professional Developer
        has been spent developing API's using Java Spring Boot. With an additional focus on Front-end technologies such as TypeScript and Angular.
    </p>
</div>