<div class="about">
    <h1 class="intro-h mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-black">
        How To Reach Me:
    </h1>
    <hr>
    <div class="contact-p">
        <p class="mb-3 text-lg text-gray-500 md:text-xl dark:text-gray-400 intro-p">
            <br><br>Thank you for taking the time to read this. If you would like to reach me
            <br><br>I can be contacted via my <a href="https://www.linkedin.com/in/danny-beaudoin-27bba6154/">LinkedIn</a> or via <a href="mailto: dannybeaudoin24@gmail.com">email</a>. 
            <br><br>Currently open to work and looking to expand on my networking.
        </p>
    </div>
</div>